.second_block {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  .info_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    h1 {
      font-size: 32px;
    }

    .block {
      background: #1b1c21;
      height: 470px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      gap: 40px;
      overflow: hidden; /* Скрыть содержимое, выходящее за пределы контейнера */
      box-sizing: border-box;

      .image_wrapper {
        min-width: 239px;
        min-height: 239px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        border-radius: 8px;
        .image {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .titles {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 19px;
          font-weight: bold;
        }

        h2 {
          font-size: 14px;
        }
      }

      .panel {
        display: flex;
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        align-items: center;
        background-color: #463acb;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
      }

      .panel2 {
        visibility: hidden;
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        align-items: center;

        background-color: #71717a;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .diagram_block {
    display: flex;
    flex-direction: column;
    width: 50%;

    h1 {
      font-size: 32px;
    }

    .block {
      display: flex;
      background: #1b1c21;
      height: 470px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

.third_block {
  display: flex;
  gap: 20px;
  margin-bottom: 122px;

  .block {
    height: 160px;
    width: 25%;
    background: #1b1c21;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    h2 {
      font-size: 15px;
      font-weight: bold;
    }

    p {
      font-size: 55px;
      align-self: center;
      justify-self: center;
      margin-top: 15px;
    }
  }
}
