.wrapper {
  margin-top: 150px;
  align-self: center;
  justify-self: center;
  display: flex;
  width: 95vw;
  min-height: 70vh;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  background-color: #3b3671;
  border-radius: 10px;
  padding-left: 61px;
  padding-right: 61px;

  .first_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 122px;
    margin-top: 100px;
    .title {
      font-weight: bold;
      font-size: 38px;
    }

    .buttons {
      display: flex;
      gap: 15px;
    }
  }

  .fourth_block {
    flex-direction: column;
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: #1b1c21;
    border-radius: 10px;
    margin-bottom: 132px;

    .block {
      display: flex;
      width: 100%;
      min-height: 248px;
      border: 1px solid #2d2e37;
      border-radius: 10px;
      justify-content: space-between;
      padding: 30px;

      .left {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
          font-size: 28px;
          font-weight: bold;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
        }
      }

      .right {
        text-align: end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
          font-size: 28px;
          font-weight: bold;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
        }

        .status {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          padding-right: 68px;
          padding-left: 68px;
          background: #71717a;
          border-radius: 5px;
          font-size: 20px;
          font-weight: bold;
          justify-self: flex-end;
          align-self: flex-end;
        }
      }
    }
  }
}
