.content{
	padding-top: 13px;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 15px;
	background-color: #463ACB;
	border-radius: 5px;
	max-width: 333px;
	font-weight: 600;

	.text{
		color: white;
	}
}
