.card {
	text-align: left;
  padding: 14px;
	height: 440px;
  max-width: 341px;
  border-radius: 25px;
  background-color: #292d33;
  color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "Evolventa", Arial, sans-serif;
}

.mobile{
	max-width: 500px;
}

.headerCard {
  align-items: center;
  display: flex;
  margin-bottom: 14px;
}

.eventStatus {
  border-radius: 9px;
  width: max-content;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 14px;
}

.eventText {
  color: #cecece;
  font-size: 13px;
  margin-bottom: 14px;
}

.typeEvent {
  margin-bottom: 14px;
}

.discipline {
  margin-top: 14px;
  margin-bottom: 14px;
}

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.location {
  margin-bottom: 14px;
}
