.contet {
  padding-top: 40px;
  padding-left: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }

  .headerText {
    color: black;
    font-size: 25px;
    font-weight: 600;
  }

  .profileEditComponenst {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;

    .select {
      height: 58px;
      border: 1px solid rgb(206, 206, 206);
      border-radius: 5px;
      color: black;
      padding-left: 13px;

      option {
        color: black;
      }
    }
  }
}
