.header{
	display: flex;
	align-items: center;
	margin-left: 3.7%;

	.text{
		color: white;
	}

	.regionName{
		width: 200px;
	}

	.leader{
		margin-left: 19.5%;
		width: 260px;
	}

	.contacts{
		margin-left: 9.4%;
	}
}

@media (max-width: 768px) {
	.header{
		margin-left: 0px;
	}

	.regionName {
		padding: 0px;
		width: 10px;
	}

	.contacts{
		margin-right: 10%;
	}
}
