.footer {
  width: 95vw;
  background-color: #1b1c21;
  border-radius: 10px;
  margin: 0 auto 10px auto; /* Центрируем и добавляем нижний отступ */
  padding: 40px 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 23px;

  .logoDesctop {
    max-height: 50px;
    object-fit: contain;
  }

  .contacts {
    margin-top: -10px;
    margin-left: -50px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: #8b84da;
    }
  }
  .qrs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    img {
      width: 50px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: auto;

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 12px;
    }

    .press {
      display: none;
    }
  }

  @media (max-width: 504px) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
