.footer {
  height: 250px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #3168f21b;
  font-family: "Evolventa", Arial, sans-serif;

	.logo{
		margin-left: 20px;
		height: 50px;
	}

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
		width: 100%;
		margin-right: 20px;

    .context {
      display: flex;
      flex-direction: column;

      .text {
        margin-top: 10px;
        color: #333333;
      }

      .text:hover {
        color: #3169f2;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
		display: block;
    height: 200px;
    padding: 10px;
		width: 96.5%;
  }

	.logo {
		margin-top: 10px;
	}

  .content {
		margin-top: 40px;

    .context {
      margin-bottom: 10px;
      align-items: center;
    }
  }
}
