body {
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота страницы - высота экрана */
  width: 100vw;
  align-items: center;
  background-color: #f4f8fe;

  .main {
    flex: 1; /* Растягивает main, чтобы занять оставшееся пространство */
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 20px; /* Отступ перед футером */
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}
